* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* -------------------------------------------------------------- */

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: white;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    background-color: #0161FF;
    padding: 10px 20px;
}

.w-70 {
    width: 70%;
    margin: 0 auto;
}

.w-80 {
    width: 80%;
    margin: 0 auto;
}

.w-90 {
    width: 90%;
    margin: 0 auto;
}

.fs-15 {
    font-size: 15px;
}

.col {
    float: left;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 25px;
}

.green {
    background-color: #a2d39b;
}

.brown {
    background-color: #61082b;
}

.blue {
    background-color: #0093ce;
}

.red {
    background-color: #ff1d1d;
}

.darkred {
    background-color: #d5001e;
}

.lightblue {
    background-color: #b4d0e7;
}

.darkblue {
    background-color: #0d2481;
}

.yellow {
    background-color: #ffd830;
}

/* -------------------------------------------------------------- */

.info {
    width: 40%;
    float: left;
}

.info ul li{
    display: inline;
}

.info ul li a {
    color: black;
    padding: 0 30px;
}

.right {
    text-align: right;
    width: 44%;
}

#logo {
    width: 10%;
    float: left;
    padding-left: 20px;
}

#logo a img {
    vertical-align: middle;
    margin-left: 20px;
}

#log-in {
    width: 5%;
    float: left;
    text-align: right;
    padding-right: 20px;
}

#log-in a {
    color: white;
    line-height: 15px;
}

/* -------------------------------------------------------------- */

.jumbotron {
    width: 100%;
    height: 800px;
}

#container-jumbo {
    margin-top: 80px;
    padding: 60px 0 0 0;
}

#container-jumbo h1 {
    font-size: 80px;
}   

#row-jumbo {
    width: 100%;
    margin-top: 50px;
}

.col-dx {
    width: 70%;
}

.col-dx img {
    max-width: 100%;
    height: 550px;
}

.col-sx {
    width: 30%;
}

.info-jumbo {
    margin: 40px 0;
}

.info-jumbo span {
    display: block;
}

.col-sx span a {
    color: white;
}

.col-sx span:last-child {
    margin-top: 10px;
    font-size: 14px;
}

.fa-arrow-down {
    color: black;
}

.col-sx p {
    margin-bottom: 20px;
}

.col-sx i {
    font-size: 50px;
}